POSTGRES_DB=opscenter
POSTGRES_USER=opscenter
POSTGRES_PASSWORD=opscenter

DATABASE_URL=postgresql://opscenter:opscenter@db:5432/opscenter

SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60